.name {
    position: absolute;
    top: 10%;
    left: 20%;
}
/*Glowing Text*/
h3 {
    margin: 0;
    padding: 0;
    color: #111;
    font-size: 8em;
}
@import url('https://fonts.googleapis.com/css?family=Coiny');
h3 span {
    display: table-cell;
    margin: 0;
    padding: 0;
    font-family: "Coiny", cursive;
    animation: animate 5.25s linear infinite;
}
h3 span:nth-child(1) {
    animation-delay: 0s;
}

h3 span:nth-child(2) {
    animation-delay: 0.25s;
}

h3 span:nth-child(3) {
    animation-delay: 0.5s;
}

h3 span:nth-child(4) {
    animation-delay: 0.75s;
}

h3 span:nth-child(5) {
    animation-delay: 1s;
}

h3 span:nth-child(6) {
    animation-delay: 1.25s;
}

h3 span:nth-child(7) {
    animation-delay: 1.5s;
}

h3 span:nth-child(8) {
    animation-delay: 1.75s;
}

h3 span:nth-child(9) {
    animation-delay: 2s;
}

h3 span:nth-child(10) {
    animation-delay: 2.25s;
}

h3 span:nth-child(11) {
    animation-delay: 2.5s;
}

h3 span:nth-child(12) {
    animation-delay: 2.75s;
}

h3 span:nth-child(13) {
    animation-delay: 3s;
}

h3 span:nth-child(14) {
    animation-delay: 3.25s;
}

h3 span:nth-child(15) {
    animation-delay: 3.5s;
}
h3 span:nth-child(16) {
    animation-delay: 3.75s;
}
h3 span:nth-child(17) {
    animation-delay: 4s;
}
h3 span:nth-child(18) {
    animation-delay: 4.25s;
}
h3 span:nth-child(19) {
    animation-delay: 4.5s;
}
h3 span:nth-child(20) {
    animation-delay: 4.75s;
}
@keyframes animate {
    0%, 100% {
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 80px #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 2000px #00b3ff;
    }
    5%, 95% {
        color: #fff;
        filter: blur(0px);
        text-shadow: none;
    }
}
/*Icon About Me*/
.piticon ul {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.piticon ul li {
    list-style: none;
    margin: 0 50px;
    width: 270px;
}
.piticon ul li div span {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    margin-left: 75px;
    line-height: 60px;
    background: #000;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
}
.piticon ul li div span:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #fff;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
.piticon ul li div span:hover:after{
    transform: scale(1.5);
    box-shadow: 0 0 15px #fff;
}
.piticon ul li div span:hover {
    color: #fff;
    box-shadow: 0 0 15px #fff;
    text-shadow: 0 0 15px #fff;
}
.piticon ul li div {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');
.piticon ul li div label {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    animation: shining 3s linear infinite;
    background-size: 80%;
    background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, .01);
    opacity: 0;
    transition: 1s;
}
@keyframes shining {
    0% {
        background-position: -400%;
    }
    100% {
        background-position: 400%;
    }
}
.piticon ul li div:before label {
    opacity: 0;
    transition: 1s;
}
.piticon ul li div:hover:after label {
    opacity: 1;
}
.piticon ul li div:hover label {
    opacity: 1;
}
.cerdetail {
    position: relative;
    width: 550px;
    height: 550px;
    top: 0%;
    left: -10%;
    margin: 0;
    padding: 0;
}
.cerdetail .face {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cerdetail .face.face1 {
    top: 0;
    left: 0;
    transition-property: left, z-index, transform;
    transition-delay: 0s, .5s, 0.5s;
    transition-duration: .5s, 0s, .5s;
    z-index: 2;
    transform: translate(0px, 0px);
}
.cerdetail:hover .face.face1 {
    transition-property: transform, z-index, left;
    transition-delay: 0s, .5s, 0.5s;
    transition-duration: .5s, 0s, .5s;
    transform: translate(270px, -10px);
    z-index: 1;
    left: -160px;
}
.cerdetail .face.face1 img {
    max-width: 100%;
}
.cerdetail .face.face2 {
    background: #111;
    top: 0;
    left: 0;
    transition-property: left, z-index, transform;
    transition-delay: 0s, .5s, 0.5s;
    transition-duration: .5s, 0s, .5s;
    z-index: 1;
}
.cerdetail:hover .face.face2 {
    transition-property: transform, z-index, left;
    transition-delay: 0s, .5s, 0.5s;
    transition-duration: .5s, 0s, .5s;
    transform: translate(-420px, -10px);
    z-index: 2;
    left: 450px;
}
.cerdetail .face.face2 .cercontent {
    padding: 20px;
    box-sizing: border-box;
}

.cerdetail .face.face2 .cercontent h2 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
}
.cerinfo {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: left;
    color: #fff;
    width: 500px;
    height: 400px;
    top: 0%;
    left: 5%;
    border-style: solid;
}
.cerinfo h3 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: #fff;
}
.cerinfo span {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}
.cerinfo span ul {
    margin: 0;
    padding: 0 59px;
}
.cerinfo span ul li {
    margin: 0;
    padding: 0;
    list-style: disc;
}
.bowl {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    border: 4px solid #fff;
    transform-origin: bottom center;
    animation: animateBowl 5s linear infinite;
}
.bowl:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 30px;
    background: rgba(66, 66, 66);
    border: 4px solid #fff;
    border-radius: 50%;
}
.bowl:after {
    content: '';
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%, -50%);
    width: 150px;
    height: 80px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}
.water {
    position: absolute;
    top: 50%;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: rgba(65, 193, 251, 0.5);
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px;
    transform-origin: top center;
    animation: animationWater 5s linear infinite;
}
.water:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 20px;
    border-radius: 50%;
    background: #1fa4e0;
}
.shadow {
    position: absolute;
    top: calc(50% + 150px);
    left: 35%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 30px;
    background: rgba(0, 0, 0, .5);
    z-index: -1;
    border-radius: 50%;
}
.bowl .water img.fish {
    width: 100px;
    animation: animatefish 5s linear infinite;
}
@keyframes animatefish {
    0% {
        transform: translate(0,0) rotateY(180deg)
    }
    50% {
        transform: translate(180px,0) rotateY(180deg)
    }
    51% {
        transform: translate(180px,0) rotateY(0deg)
    }
    100% {
        transform: translate(0,0) rotateY(0deg)
    }
}
@keyframes animateBowl {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    25% {
        transform: translate(-50%,-50%) rotate(15deg);
    }
    50% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    75% {
        transform: translate(-50%,-50%) rotate(-15deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
}
@keyframes animationWater {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.contact1 h1.contactus {
    margin: 0;
    padding: 0;
    top: 40%;
    left: 45%;
    position: absolute;
    font-family: sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 10em;
}
.contact1 h1.contactus:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: bottom;
    transform: rotateX(180deg);
    line-height: 0.865em;
    background: linear-gradient(0deg, #fff 0, transparent 80%);
    background-clip: text;
    color: transparent;
    opacity: 0.5;
    border-style: solid;
}